// global styles
body, select, option, button, textarea {
  color: $colorDark;
  font: 400 16px helvetica-neue-regular, sans-serif;
  line-height: 1.5;
}

body {
  &.scroll-off {
    left: 0;
    max-width: 100%;
    overflow: hidden;
    position: fixed;
    right: 0;
    width: 100%;
  }
}

.btn-block-foot {
  display: flex;
  justify-content: flex-end;
}

.btn-main {
  background: linear-gradient(91.91deg, #F8D948 16.57%, #FFA900 88.43%);
  border-radius: 8px;
  color: #454E5D;
  font: 700 16px helvetica-neue-bold, sans-serif;
  height: 54px;
  line-height: 54px;
  padding: 0 12px;
  text-align: center;
  transition: all .3s ease;
  width: 200px;
  &:hover {
    opacity: .9;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.12);
  }
}

.container {
  display: flex;
}

.smooth-wrapper {
  background: rgba(37, 46, 72, .4);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  transform: translateX(100%);
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  display: block;
  box-sizing: border-box;
  &.show {
    transform: translate(0px);
  }
}

//modal
.modal {
  background: $backMain;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  left: 0;
  margin: auto;
  padding: 60px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 30%;
  width: 460px;
  &__desc {
    color: $colorGrey;
    font: 400 20px helvetica-neue-regular, sans-serif;
    margin-bottom: 6px;
  }
  &__resend {
    border-bottom: 1px solid $colorGrey;
    color: $colorGrey;
    cursor: pointer;
    font: 400 16px helvetica-neue-regular, sans-serif;
    margin-bottom: 60px;
    padding: 0;
    transition: all .2s ease;
    &:hover {
      border-bottom: 1px solid #F8D948;
      color: #F8D948;
    }
  }
  &__button {
    background: linear-gradient(91.91deg, #F8D948 16.57%, #FFA900 88.43%);
    &:hover {
      opacity: .9;
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.12);
    }
  }
}

.home-btn {
  border-radius: 8px;
  color: $colorDark;
  font: 700 16px helvetica-neue-bold, sans-serif;
  height: 54px;
  line-height: 54px;
  transition: all .3s ease;
  width: 100%;
}

// switcher
.switcher {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 31px;
  & input {
    opacity: 0;
    width: 0;
    height: 0;
    &:checked + .slider {
      background-color: $colorOrange;
    }
    &:focus + .slider {
      box-shadow: 0 0 1px $colorOrange;
    }
    &:checked + .slider:before {
      -webkit-transform: translateX(19px);
      -ms-transform: translateX(19px);
      transform: translateX(19px);
    }
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15), 0 3px 1px rgba(0, 0, 0, 0.06);
    &:before {
      position: absolute;
      content: "";
      height: 27px;
      width: 27px;
      left: 2px;
      bottom: 2px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
      border-radius: 50%;
    }
  }
}

//login
.login {
  background: $backMain;
  border-radius: 50px 0 0 0;
  box-shadow: inset 0 6px 12px 0 rgba(0, 82, 224, 0.1);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-start;
  overflow: hidden;
  position: absolute;
  right: 0;
  transform: translate(300px);
  transition: all .2s ease-in-out;
  width: 515px;
  @media screen and (max-width: 1440px) {
    width: 480px;
  }
  &.show {
    transform: translate(0px);
  }
  &__header {
    align-items: center;
    background-color: $colorOrange;
    display: flex;
    justify-content: center;
    min-height: 120px;
    width: 100%;
    @media screen and (max-width: 1440px) {
      min-height: 90px;
    }
  }
  &__title {
    color: $colorWhite;
    font: 700 40px helvetica-neue-bold, sans-serif;
    max-width: 420px;
  }
  &__wrapper {
    background-color: $backMenu;
    display: flex;
    flex-direction: column;
    flex: 1 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 68px 75px 35px 95px;
    @media screen and (max-width: 1440px) {
      padding: 50px 50px 35px 60px;
    }
  }
  &__section {
    flex: 1 0;
  }
  &__subtitle {
    color: $colorOrange;
    font: 700 40px helvetica-neue-bold, sans-serif;
    margin-bottom: 8px;
  }
  &__desc {
    color: $colorDark;
    font: 400 16px helvetica-neue-regular, sans-serif;
    margin-bottom: 30px;
  }
  &__footer {
    &_desc {
      color: $colorDark;
      font: 500 16px helvetica-neue-medium, sans-serif;
      letter-spacing: 0.5px;
    }
    &_link {
      color: $colorOrange;
      font: 700 16px helvetica-neue-bold, sans-serif;
      letter-spacing: 0.5px;
      transition: .3s opacity ease;
      &:hover {
        opacity: .8;
      }
    }
  }
  &__button {
    background-color: $colorWhite;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .08);
    margin-bottom: 16px;
    &:hover {
      opacity: .9;
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.12);
    }
    &_google {
      background: no-repeat 10% 50% url('../img/icon-google.png');
    }
    &_apple {
      background: no-repeat 10% 50% url('../img/icon-apple.png');
    }
  }
}

.login-form {
  margin-bottom: 32px;
  &__label {
    border-bottom: 1px solid $colorDark;
    display: inline-block;
    height: 42px;
    margin-bottom: 12px;
    overflow: hidden;
    padding: 10px 48px 10px 20px;
    position: relative;
    width: 100%;
    &_eye {
      background: no-repeat center/contain url('../img/icons/eye.svg');
      bottom: 0;
      content: '';
      cursor: pointer;
      height: 16px;
      right: 16px;
      margin: auto 0;
      position: absolute;
      top: 0;
      width: 16px;
    }
  }
  &__input {
    color: $colorDark;
    display: inline-block;
    font: 400 18px helvetica-neue-regular, sans-serif;
    height: 100%;
    width: 100%;
  }
  &__forgot-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 42px;
    padding: 0 20px;
  }
  &__forgot-link {
    color: $colorDark;
    font: 400 12px helvetica-neue-regular, sans-serif;
  }
  &__checkbox-label {
    cursor: pointer;
    font: 400 12px helvetica-neue-regular, sans-serif;
  }
  &__checkbox {
    appearance: auto;
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
  }
  &__button {
    background: $backGrey;
    &.active {
      background: linear-gradient(91.91deg, #F8D948 16.57%, #FFA900 88.43%);
      &:hover {
        opacity: .9;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.12);
      }
    }
  }
}

.login-div {
  align-items: center;
  display: flex;
  margin-bottom: 16px;
  &__text {
    color: $colorDark;
    font: 400 16px helvetica-neue-regular, sans-serif;
    margin-right: 10px;
  }
  &:after {
    background-color: $colorDark;
    content: '';
    display: block;
    flex: 1;
    height: 1px;
    width: 100%;
  }
}

//sidebar
.sidebar {
  background-color: $backSide;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-end;
  padding: 60px 8px;
  position: fixed;
  text-align: center;
  width: 100px;
  z-index: 2;
  @media screen and (max-width: 1440px) {
    padding: 30px 8px;
  }
  &__list {
    display: flex;
    flex-direction: column;
  }
  &__item {
    display: inline-block;
    margin-top: 24px;
    position: relative;
  }
  &__link {
    color: $colorWhite;
    display: block;
    font-size: 12px;
    padding-top: 28px;
    position: relative;
    &:before {
      background-position: top center;
      background-repeat: no-repeat;
      background-size: contain;
      content: '';
      display: block;
      height: 24px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
    }
    &_home {
      &:before {
        background-image: url('../img/icons/home.svg');
      }
      &.active:before {
        background-image: url('../img/icons/home-active.svg');
      }
    }
    &_user {
      &:before {
        background-image: url('../img/icons/user.svg');
      }
      &.active:before {
        background-image: url('../img/icons/user-active.svg');
      }
    }
    &_help {
      &:before {
        background-image: url('../img/icons/help.svg');
      }
      //&.active:before {
      //  background-image: url('../img/icons/help-active.svg');
      //}
    }
    &_add {
      &:before {
        background-image: url('../img/icons/add.svg');
      }
      &.active:before {
        background-image: url('../img/icons/add-active.svg');
      }
    }
    &_log-out {
      &:before {
        background-image: url('../img/icons/log-out.svg');
      }
      //&.active:before {
      //  background-image: url('../img/icons/log-out-active.svg');
      //}
    }
    &_log-in {
      &:before {
        background-image: url('../img/icons/log-in.svg');
      }
      //&.active:before {
      //  background-image: url('../img/icons/log-in-active.svg');
      //}
    }
  }
  &__tooltip {
    background-color: $backMain;
    border-radius: 4px;
    bottom: 4px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    display: none;
    left: 80px;
    position: absolute;
    width: 220px;
    @media screen and (max-width: 1440px) {
      width: 180px;
    }
    &.active {
      display: block;
    }
    &:before {
      border-style: solid;
      border-width: 15px 15px 15px 0;
      border-color: transparent $backMain transparent transparent;
      bottom: 10px;
      content: '';
      height: 0;
      left: -10px;
      position: absolute;
      width: 0;
    }
    &_link {
      color: $colorBlue;
      display: block;
      font: 500 18px helvetica-neue-medium, sans-serif;
      padding: 20px 22px;
      text-align: left;
      transition: all .2s ease;
      @media screen and (max-width: 1440px) {
        padding: 15px 20px;
      }
      &:first-child {
        border-bottom: 1px solid #E8EEF4;
        border-radius: 4px 4px 0 0;
      }
      &:last-child {
        border-radius: 0 0 4px 4px;
      }
      &:hover {
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
      }
    }
  }
}

//main
.main {
  background-color: $backSide;
  flex: 1 0;
  padding: 240px 0 0 100px;
  @media screen and (max-width: 1440px) {
    padding-top: 200px;
  }
}

//header
.header {
  background: $backSide;
  height: 240px;
  left: 100px;
  padding: 30px 30px 35px 50px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;
  @media screen and (max-width: 1440px) {
    height: 200px;
  }
  &:before,
  &:after {
    border-radius: 100px 0 0 0;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  &:before {
    background: no-repeat center/cover url('../img/header-background.jpg');
  }
  &.smooth:after {
    background: rgba(0, 0, 0, .6);
    backdrop-filter: blur(0.6px);
  }
  &__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    position: relative;
    z-index: 1;
  }
  &__title {
    color: $colorWhite;
    font: 700 40px helvetica-neue-bold, sans-serif;
  }
  &__subtitle {
    align-self: flex-start;
    color: $colorWhite;
    font: 700 32px helvetica-neue-bold, sans-serif;
    text-align: left;
  }
  &__input-label {
    background-color: $backMain;
    border-radius: 10px;
    display: inline-block;
    height: 48px;
    overflow: hidden;
    padding: 0 40px;
    position: relative;
    width: 650px;
    &:before {
      background: no-repeat center/contain url('../img/icons/search.svg');
      bottom: 0;
      content: '';
      height: 16px;
      left: 16px;
      margin: auto 0;
      position: absolute;
      top: 0;
      width: 16px;
    }
  }
  &__input {
    color: $colorDark;
    display: inline-block;
    font: 400 17px helvetica-neue-regular, sans-serif;
    height: 100%;
    width: 100%;
  }
  &__voice-btn {
    background: no-repeat center/contain url('../img/icons/rec.svg');
    bottom: 0;
    content: '';
    height: 16px;
    right: 16px;
    margin: auto 0;
    position: absolute;
    top: 0;
    width: 16px;
  }
}

//content
.content {
  background-color: $backMain;
  min-height: calc(100vh - 240px);
  padding: 36px 150px 60px 50px;
  @media screen and (max-width: 1460px) {
    padding: 30px 100px 50px 50px;
  }
}

//home
.home {
  &__section {
    margin-bottom: 8px;
  }
  &__title {
    color: $colorDark;
    font: 700 24px helvetica-neue-bold, sans-serif;
    margin-bottom: 18px;
  }
  &__wrapper {
    display: flex;
    margin-bottom: 14px;
  }
  &__more-wrap {
    display: flex;
    justify-content: flex-end;
  }
  &__more {
    color: $colorOrange;
    font: 700 16px helvetica-neue-bold, sans-serif;
  }
}

//card
.card {
  border-radius: 10px;
  display: block;
  height: 188px;
  margin-right: 20px;
  overflow: hidden;
  position: relative;
  width: 174px;
  @media screen and (max-width: 1440px) {
    height: 174px;
  }
  &:before {
    background: linear-gradient(178.47deg, rgba(0, 0, 0, 0) 69.85%, #000000 98.7%);
    bottom: 0;
    content: '';
    height: 100%;
    left: 0;
    margin: auto 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  &__wrapper {
    color: $colorWhite;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 9px;
    position: relative;
    width: 100%;
    z-index: 1;
  }
  &__location {
    font: 400 12px helvetica-neue-regular, sans-serif;
    &:before {
      background: no-repeat center/contain url('../img/icons/globe.svg');
      content: '';
      display: inline-block;
      height: 13px;
      margin-bottom: -2px;
      margin-right: 2px;
      width: 13px;
    }
  }
  &__content {
    display: flex;
    justify-content: space-between;
  }
  &__title {
    font: 700 14px helvetica-neue-bold, sans-serif;
    margin-bottom: 2px;
  }
  &__price {
    font: 400 12px helvetica-neue-regular, sans-serif;
  }
  &__time {
    font: 400 8px helvetica-neue-regular, sans-serif;
  }
  &__rate-section {
    text-align: end;
  }
  &__rate {
    font: 500 12px helvetica-neue-medium, sans-serif;
    &:before {
      background: no-repeat center/contain url('../img/icons/star.svg');
      content: '';
      display: inline-block;
      height: 10px;
      margin-right: 3px;
      width: 10px;
    }
  }
  &__icon {
    height: 20px;
    margin-bottom: 12px;
    object-fit: contain;
    width: 20px;
  }
}


// media library
.media-lib {
  &__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  // select
  &__select {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    cursor: pointer;
    position: relative;
    width: 370px;
    &:before {
      background: no-repeat center/contain url('../img/icons/arrow-light.svg');
      bottom: 0;
      content: '';
      height: 24px;
      right: 18px;
      margin: auto 0;
      position: absolute;
      top: 0;
      transition: all .3s ease;
      width: 24px;
    }
    &.active {
      &:before {
        transform: rotate(180deg);
      }
      .media-lib__selection {
        display: block;
      }
    }
  }
  &__selected {
    color: $colorDark;
    font: 500 24px helvetica-neue-medium, sans-serif;
    margin-bottom: 16px;
  }
  &__selection {
    background-color: $backMain;
    border-radius: 4px;
    box-shadow: inset 0 0 4px rgba(170, 170, 170, 0.2);
    display: none;
    max-height: 210px;
    min-height: 30px;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 106%;
    right: 0;
    width: 210px;
    &_list {
      padding: 12px 12px 12px 34px;
    }
    &_item {
      color: $colorSelect;
      font: 400 16px/26px helvetica-neue-regular, sans-serif;
      margin-bottom: 10px;
      position: relative;
      &.checked:before {
        background: no-repeat center/contain url('../img/icons/checkmark.svg');
        bottom: 0;
        content: '';
        height: 20px;
        left: -24px;
        margin: auto 0;
        position: absolute;
        top: 0;
        width: 20px;
      }
    }
  }

  // search
  &__search-label {
    background-color: $backMain;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: inline-block;
    height: 46px;
    overflow: hidden;
    padding: 0 42px 0 18px;
    position: relative;
    width: 370px;
    &:before {
      background: no-repeat center/contain url('../img/icons/search-black.svg');
      bottom: 0;
      content: '';
      height: 24px;
      right: 18px;
      margin: auto 0;
      position: absolute;
      top: 0;
      width: 24px;
    }
  }
  &__search {
    color: $colorDark;
    display: inline-block;
    font: 400 16px helvetica-neue-regular, sans-serif;
    height: 100%;
    width: 100%;
  }

  // media library content
  &__content {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(8, minmax(173px, 1fr));
    margin-bottom: 20px;
    @media screen and (max-width: 1680px) {
      grid-template-columns: repeat(6, minmax(173px, 1fr));
    }
    @media screen and (max-width: 1440px) {
      grid-template-columns: repeat(5, minmax(173px, 1fr));
    }
    @media screen and (max-width: 1200px) {
      grid-template-columns: repeat(4, minmax(173px, 1fr));
    }
  }
  &__card {
    aspect-ratio: 1;
    background-color: $backMain;
    border-radius: 8px;
    overflow: hidden;
    &_img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  // drag
  &__drag {
    align-items: center;
    background: rgba(184, 184, 184, 0.2);
    border: 1px dashed #C7C7CC;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 12px;
    padding: 55px;
    @media screen and (max-width: 1440px) {
      padding: 35px;
    }
    &_label {
      color: $colorDark;
      cursor: pointer;
      display: inline-block;
      font: 700 16px helvetica-neue-bold, sans-serif;
      & > input {
        display: none;
      }
    }
  }
}

// avatar
.avatar {
  background-color: $backMain;
  border: 1px solid $backMain;
  border-radius: 50%;
  height: 60px;
  overflow: hidden;
  position: absolute;
  right: 150px;
  top: 20px;
  width: 60px;
  z-index: 1;
  @media screen and (max-width: 1440px) {
    right: 100px;
  }
  &__img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}







// profile
.profile-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  border-left: 10px solid $colorOrange;
  border-radius: 10px;
  margin-bottom: 12px;
  padding: 32px;
  width: 100%;
  &__title {
    color: $colorDark;
    font: 700 32px helvetica-neue-bold, sans-serif;
    margin-bottom: 24px;
  }
  &__action {
    border-bottom: 1px solid #E3E3E3;
    color: $colorBlack;
    cursor: pointer;
    font: 400 20px/44px helvetica-neue-regular, sans-serif;
    height: 44px;
    margin-bottom: 16px;
    transition: all .4s ease;
    background-image: url('../img/icons/chevron-right-grey.svg');
    background-position: right center;
    background-repeat: no-repeat;
    &:hover {
      background-image: url('../img/icons/chevron-right-orange.svg');
    }
  }
  &__desc {
    color: $colorDark;
    font: 400 16px/22px helvetica-neue-regular, sans-serif;
    &:not(:first-child) {
      margin-top: 18px;
    }
  }
  &__subtitle {
    color: $colorBlack;
    font: 400 14px/22px helvetica-neue-regular, sans-serif;
  }
  &__about {
    border-bottom: 1px solid #E3E3E3;
    color: $colorBlack;
    font: 400 20px/44px helvetica-neue-regular, sans-serif;
    margin-bottom: 16px;
    padding-right: 32px;
    position: relative;
  }
  &__paypal-icon {
    height: 29px;
    vertical-align: middle;
    width: 108px;
  }
  &__checkbox-label {
    align-items: center;
    bottom: 0;
    cursor: pointer;
    display: flex;
    margin: auto 0;
    position: absolute;
    right: 0;
    top: 0;
  }
  &__checkbox {
    appearance: auto;
    cursor: pointer;
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
  }
  &__cur {
    font-size: 22px;
  }
  &__inbox {
    border: 1px solid #E5E5E5;
    border-radius: 8px;
    color: $colorDark;
    font: 400 16px helvetica-neue-regular, sans-serif;
    padding: 16px 30px 16px 16px;
    position: relative;
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
  &__cancel {
    background: no-repeat center/contain url('../img/icons/cancel.svg');
    cursor: pointer;
    height: 8px;
    position: absolute;
    right: 8px;
    top: 8px;
    width: 8px;
    transition: transform .2s ease;
    &:hover {
      transform: rotate(90deg);
    }
  }
}
.profile-data {
  display: flex;
  &__avatar-block {
    flex: 0 1 104px;
    margin-right: 30px;
  }
  &__avatar {
    aspect-ratio: 1;
    background: no-repeat center url('../img/icons/profile.png') #DADADA;
    border-radius: 50%;
    position: relative;
    width: 100%;
    &_add {
      background: $colorOrange;
      border-radius: 50%;
      border: 1px solid $colorWhite;
      bottom: 5%;
      cursor: pointer;
      height: 17px;
      position: absolute;
      right: 5%;
      width: 17px;
      transition: transform .2s ease;
      &:hover {
        transform: rotate(90deg);
      }
      &:after,
      &:before {
        background: $colorWhite;
        content: '';
        position: absolute;
      }
      &:after {
        height: 1px;
        left: 3px;
        top: 7px;
        width: 9px;
      }
      &:before {
        height: 9px;
        left: 7px;
        top: 3px;
        width: 1px;
      }
    }
  }
  &__data {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    &_label {
      border-bottom: 1px solid #E5E5E5;
      height: 44px;
      margin-bottom: 12px;
      position: relative;
    }
    &_input {
      color: $colorBlack;
      font: 400 19px/40px helvetica-neue-regular, sans-serif;
    }
    &_edit {
      background: no-repeat center/contain url('../img/icons/edit.svg');
      bottom: 0;
      cursor: pointer;
      height: 16px;
      margin: auto 0;
      position: absolute;
      right: 0;
      top: 0;
      width: 16px;
    }
    &_chevron {
      background: no-repeat center/contain url('../img/icons/chevron-down.svg');
      bottom: 0;
      cursor: pointer;
      height: 10px;
      margin: auto 0;
      position: absolute;
      right: 0;
      top: 0;
      width: 16px;
    }
    &_textarea {
      border: 1px solid #E5E5E5;
      margin-bottom: 8px;
      padding: 10px 32px 10px 16px;
      resize: none;
    }
  }
  .btn-main {
    margin-top: 32px;
    width: 100%;
    &.disabled {
      background: $backGrey;
    }
  }
}

.profile {
  display: flex;
  justify-content: space-between;
  // profile nav
  .profile-nav {
    flex: 0 1 460px;
    margin-right: 120px;
    @media screen and (max-width: 1280px) {
      flex: 0 1 360px;
      margin-right: 60px;
    }
    &__list {
      display: flex;
      flex-direction: column;
    }
    &__item {
      border-bottom: 1px solid #E3E3E3;
      color: $colorBlack;
      cursor: pointer;
      font: 400 24px/56px helvetica-neue-regular, sans-serif;
      height: 56px;
      margin-bottom: 16px;
      transition: all .4s ease;
      @media screen and (max-width: 1280px) {
        height: 48px;
        line-height: 48px;
        margin-bottom: 12px;
      }
      &:not(.notify) {
        background-image: url('../img/icons/chevron-right-grey.svg');
        background-position: right center;
        background-repeat: no-repeat;
        &.active,
        &:hover {
          background-image: url('../img/icons/chevron-right-orange.svg');
        }
        &.active {
          font: 700 24px/56px helvetica-neue-bold, sans-serif;
        }
      }
      &.notify {
        align-items: center;
        display: flex;
        justify-content: space-between;
      }
    }
  }
  .profile-content {
    flex: 1;
  }
}
















// media item
.media-item {
  display: flex;
  justify-content: center;
  // media
  &__media {
    flex: 0 1 560px;
    &_img-wrap {
      aspect-ratio: 1;
      background: $backSide;
      border-radius: 8px;
      margin-bottom: 40px;
      overflow: hidden;
      width: 100%;
    }
    &_img {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }
  &__btn-block {
    display: flex;
    justify-content: center;
    & > .btn-main:first-child {
      margin-right: 20px;
    }
  }
  // data
  &__data {
    flex: 0 1 370px;
    margin: 0 150px 0 130px;
    &_info {
      border-bottom: 1px solid #E5E5E5;
      box-sizing: border-box;
      font: 700 20px helvetica-neue-bold, sans-serif;
      margin-bottom: 8px;
      padding: 7px 15px 15px;
      white-space: nowrap;
      & input,
      & span {
        font: 400 20px helvetica-neue-regular, sans-serif;
        margin-left: 12px;
      }
      &.label {
        border: 1px solid #E5E5E5;
        display: flex;
        padding: 7px 15px;
      }
      &.textarea {
        flex-direction: column;
      }
      &.edit {
        padding-right: 45px;
        position: relative;
        &:after {
          background: no-repeat center/contain url('../img/icons/edit.svg');
          content: '';
          height: 16px;
          right: 16px;
          margin: auto 0;
          position: absolute;
          top: 12px;
          width: 16px;
        }
      }
    }
  }
}
