$colorDark   : #454E5D;
$colorBlue   : #101D5B;
$colorGrey   : #394353;
$colorWhite  : #FFFFFF;
$colorOrange : #F37037;
$colorSelect : #18273A;

$backSide    : #454E5D;
$backMain    : #FFFFFF;
$backMenu    : #F7F9FC;
$backGrey    : #E5E5E5;
